{% extends 'base.html' %}
{% block content%}
    <h1>Welcome to Home Todo App</h1>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <p>
            {{form.task(size=40)}}
            {% for error in form.task.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{form.submit()}}</p>
    </form>


    {% for task in tasks %}
        <div>
            <p>{{task.date }}</p>
            <p>{{ task.body}}</p> <a href="/delete/{{ task.id }}">Delete</a>
        </div>
    {% endfor%}



{% endblock content%}